{{define "index.tmpl"}}
    <!DOCTYPE html>
    <html>
    <head>
        <title>首页</title>
    </head>

    {{template "base" .}}

    <body>
        <div style="padding:10px;">

            <div class="small-block-grid-2">
                <li>
                    <h5 style="text-align: center">配置</h5>
                    <div style="margin-top: 10px">
                        <button class="button tiny" data-reveal-id="updatePwd" type="button">密码修改</button>
                        <div class="reveal-modal small" data-reveal id="updatePwd">
                            <form action="/svc/user/update" method="post">
                                <div class="row">
                                    <div class="small-10 columns">
                                        <label>密码
                                            <input name="ypwd" type="password" id="ypwd">
                                        </label>
                                        <label>确认密码
                                            <input name="epwd" type="password" id="epwd">
                                        </label>
                                        <button style="float: right" class="button tiny" type="submit">确认</button>
                                    </div>
                                </div>
                            </form>
                            <a class="close-reveal-modal">&times;</a>
                        </div>
                    </div>
                </li>

                <li>
                    <div>
                        <h5 style="text-align: center">欢迎使用ME爬虫系统</h5>
                        <p>首先要感谢Gin和Colly框架，我是站在巨人肩膀上开发的ME爬虫系统。ME爬虫系统是用go语言基于Colly+Gin框架编写。github-Gin: <a href="https://github.com/gin-gonic/gin.git">https://github.com/gin-gonic/gin.git</a>，github-Colly: <a href="https://github.com/gocolly/colly.git">https://github.com/gocolly/colly.git</a></p>
                        <p>设计ME爬虫系统的初衷是要让不会爬虫的人简单使用爬虫。此爬虫系统会支持文档，图片，视频的爬取和存储。</p>
                        <p>支持的存储系统: local, MongoDB, S3对象, ES等。</p>
                        <p>ME源码地址: <a href="https://github.com/Yepeng-hup/me.git">https://github.com/Yepeng-hup/me.git</a></p>
                    </div>
                </li>
            </div>

        </div>

    </body>
    </html>
{{end}}