{{define "pic.tmpl"}}
    <!DOCTYPE html>
    <html>
    <head>
        <title>图片</title>
    </head>

    {{template "base" .}}

    <body>
    <div style="padding:10px;">
        pic
    </div>
    </body>
    </html>
{{end}}