{{define "textrecord.tmpl"}}
    <!DOCTYPE html>
    <html>
    <head>
        <title>文本记录</title>
        <script src="/sta/js/text.js"></script>
    </head>

    {{template "base" .}}

    <body >
        <div>
            <table>
                <thead>
                    <tr>
                        <th>时间</th>
                        <th>网址</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range $_, $v := .UrlRecord}}
                        <tr>
                            <td>{{$v.Date}}</td>
                            <td>{{$v.Url}}</td>
                        </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </body>

    </html>

{{end}}