{{define "text.tmpl"}}
    <!DOCTYPE html>
    <html>
    <head>
        <title>文本</title>
        <script src="/sta/js/text.js"></script>
        <script src="/sta/js/jstools/echarts.min.js"></script>
    </head>

    {{template "base" .}}

    <body>
        <div style="padding:10px;">
            <div class="large-6 columns">
                <form action="/svc/text/crawling" method="post">
                    <div>
                            <label for="name">爬取网址
                                <input id="url" name="url" placeholder="https://xxxx.xxxx.xxx" type="text">
                            </label>
                            <label for="name" style="width: 50%">存储选项
                                <select id="savenum" name="savenum" onchange="updateFormVisibility()">
                                    <option>本地存储</option>
                                    <option>MongoDB</option>
                                </select>
                            </label>
                    </div>

                    <div id="localForm">
                            <label for="name">保存路径
                                <input id="localpath" name="localpath" placeholder="/data/me/text.txt" type="text">
                            </label>
                    </div>

                    <div id="mgForm">
                            <label for="name">Mongo-标题
                                <input id="mgtl" name="mgtl" placeholder="nginx部署爬取" type="text">
                            </label>
                    </div>


                    <label for="name">html标签筛选
                        <textarea id="htmlLable" name="htmlLable" rows="2" placeholder="单个标签: p，多个标签: p,a,div,span"></textarea>
                    </label>

                    <label for="name"  style="width: 20%">主题
                        <select id="theme" name="theme">
                            <option>其他</option>
                            <option>技术</option>
                            <option>科技</option>
                            <option>农业</option>
                            <option>军事</option>
                            <option>生活</option>
                            <option>美食</option>
                            <option>动物</option>
                        </select>
                    </label>

                    <label for="name" style="width: 20%">此次记录是否保存
                        <select id="hissave" name="hissave">
                            <option>否</option>
                            <option>是</option>
                        </select>
                    </label>
                    <button style="float: right;" class="button tiny" type="submit">开始爬取</button>
                    <a href="/svc/text/mg/content/list"><button style="float: right; margin-right: 10px" class="button tiny" type="button">MONGO列表</button></a>
                    <a href="/svc/text/record"><button style="float: right; margin-right: 10px" class="button tiny success" type="button">查看所有记录</button></a>
                    <button style="float: right;margin-right: 10px" class="button tiny warning" type="button" onclick="checkMongoConn()">检测Mongo</button>
                </form>
            </div>


            <div class="large-6 columns">
                <div id="main" style="width: 600px;height:400px;"></div>
            </div>

        </div>

        <script>
            function updateFormVisibility() {
                var selectedOption = document.getElementById("savenum").value;

                // 隐藏所有表单
                document.getElementById("localForm").style.display = "none";
                document.getElementById("mgForm").style.display = "none";

                // 根据选择的值显示相应的表单
                if (selectedOption === "本地存储") {
                    document.getElementById("localForm").style.display = "block";
                } else if (selectedOption === "MongoDB") {
                    document.getElementById("mgForm").style.display = "block";
                }
            }
            window.onload = function() {
                document.getElementById("savenum").value = "本地存储";
                updateFormVisibility();
            };
        </script>

        <script type="text/javascript">
            var myChart = echarts.init(document.getElementById('main'));
            var data = {{.themeMap}}
            function datacl(d, k) {
                for (var i in d) {
                    if (d.hasOwnProperty(k)) {
                        var value = d[k];
                        return value
                    }
                }
            }
            let technology = datacl(data, "技术");
            let science = datacl(data, "科技");
            let agriculture = datacl(data, "农业");
            let military = datacl(data, "军事");
            let life = datacl(data, "生活");
            let food = datacl(data, "美食");
            let animal = datacl(data, "动物");
            let othen = datacl(data, "其他");


            var option = {
                title: {
                    text: 'Mongo record',
                    // left: 'center',
                    // top: 'center'
                },
                series: [
                    {
                        type: 'pie',
                        data: [
                            {
                                value: technology,
                                name: '技术'
                            },
                            {
                                value: science,
                                name: '科技'
                            },
                            {
                                value: agriculture,
                                name: '农业'
                            },
                            {
                                value: military,
                                name: '军事'
                            },
                            {
                                value: life,
                                name: '生活'
                            },
                            {
                                value: food,
                                name: '美食'
                            },
                            {
                                value: animal,
                                name: '动物'
                            },
                            {
                                value: othen,
                                name: '其他'
                            },
                        ],
                        roseType: 'area'
                    }
                ]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        </script>
    </body>
    </html>
{{end}}