{{define "textcat.tmpl"}}
    <!DOCTYPE html>
    <html>
    <head>
        <title>内容查看</title>
        <script src="/sta/js/text.js"></script>
    </head>

    {{template "base" .}}

    <body>

    <div style="padding: 10px">
        <h5 style="text-align: center">{{.fileName}}</h5>
        <a href="/svc/text/mg/content/list"><button class="button tiny right">返回</button></a>
        <div style="margin-top: 50px">
            <pre>{{.content}}</pre>
        </div>
    </div>
    </body>

    </html>
{{end}}