{{define "textcat.tmpl"}}
    <!DOCTYPE html>
    <html>
    <head>
        <title>内容查看</title>
        <script src="/sta/js/text.js"></script>
    </head>

    {{template "base" .}}

    <body>

    <h5>nei rong</h5>
    </body>

    </html>
{{end}}