{{define "video.tmpl"}}
    <!DOCTYPE html>
    <html>
    <head>
        <title>视频</title>
    </head>

    {{template "base" .}}

    <body>
    <div style="padding:10px;">
        video
    </div>
    </body>
    </html>
{{end}}